<main class="main">
    <div class="body">
        <div id="shell">
            <div id="header">
                <h1 id="logo" href="#">FurahApp</h1>
                <div class="social"> <span>FOLLOW US ON:</span>
                    <ul>
                        <li><a class="twitter" href="#">twitter</a></li>
                        <li><a class="facebook" href="#">facebook</a></li>
                        <li><a class="vimeo" href="#">vimeo</a></li>
                        <!-- <li><a class="rss" href="#">rss</a></li> -->
                    </ul>
                </div>
                <div id="navigation">
                    <ul>
                        <li *ngIf="!authService.isLoggedIn()"><a class="active" href="#">HOME</a></li>
                        <li *ngIf="authService.isLoggedIn()"><a href="/movie">MOVIES</a></li>
                        <li *ngIf="!authService.isLoggedIn()"><a href="/login">LOGIN</a></li>
                        <li *ngIf="!authService.isLoggedIn()"><a href="/signup">GET STARTED</a></li>
                        <li *ngIf="authService.isLoggedIn()" (click)="logout()"><a>Logout</a></li>
                        <div *ngIf="loading" class="overlay">
                            <div class="dots-container">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <div class="message">Logging Out</div>
                        </div>
                    </ul>
                </div>
            </div>
            <div id="main">
            </div>
            <div id="footer">
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <router-outlet />
</main>